# Python Dataframe Cheatsheet

# Read CSVs

In [2]:
# read single csv file
df = pd.read_csv('path/to/file/data.csv') # simple
df = pd.read_csv('path/to/file/data.csv', sep='\t') # with separator
df = pd.read_csv('path/to/file/data.csv', index_col=False, encoding='utf-8', error_bad_lines=True)
df = pd.read_csv('path/to/file/data.csv', lineterminator='\n')

In [1]:
# read multiple csv files
import pandas as pd
import glob
df = pd.concat(map(pd.read_csv, glob.glob('/path/to/file/*.csv')))

# Save CSVs

In [ ]:
df.to_csv('/path/file-name.csv', index=False)

In [ ]:
# show number of rows and columns
df.shape

In [ ]:
# show column names
df.columns
# data.columns.values
# df.columns.values.tolist()

# Apply custom function

In [ ]:
def func(x):
    # do something
    return x

In [ ]:
df['column']=df['column'].apply(func)

# Iterate

In [ ]:
for i, row in enumerate(df.itertuples(),1):
    print(row.col_name)

# Configurations

In [ ]:
# change column width
pd.options.display.max_colwidth = 256

# Column Operations

In [ ]:
# change case of the column value
df['col1'] = df['col1'].str.lower()

In [ ]:
# select some columns of dataframe
df[['col1', 'col2', 'col3']]  
# or df.loc[:, ['col1', 'col2', 'col3']]
# or df.loc[:, 'col1':'col3']
# or df[df.columns[0:2]]

# columns = ['col1', 'col2']
# pd.DataFrame(df, columns=columns)

# Drop Duplicates

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop_duplicates.html

In [ ]:
# based on one column
df.drop_duplicates('col', keep='last')

# base don multiple columns
df.drop_duplicates(['col1','col2','col3'], keep='last')

In [ ]:
# drop based on Col A and keep which has highest B Column value
df.groupby('A', group_keys=False).apply(lambda x: x.loc[x.B.idxmax()])
df.sort_values('B', ascending=False).drop_duplicates('A').sort_index()

# Dropna

In [ ]:
df.dropna(subset = ['column1_name', 'column2_name', 'column3_name'])
df.dropna()     #drop all rows that have any NaN values
df.dropna(how='all')     #drop only if ALL columns are NaN
df.dropna(thresh=2)   #Drop row if it does not have at least two values that are **not** NaN
df.dropna(subset=[1])   #Drop only if NaN in specific column (as asked in the question)
df.dropna(subset = ['column1_name']) #Drop only if NaN in specific column

# Don't drop, just take the rows where EPS is not NA:
df = df[df['EPS'].notna()]

# Change Datatype

In [ ]:
df[slc] = df[slc].astype(int)
df.astype({c: int for c in slc}) # pass a dictionary of types with keys as column names

# Create DataFrame

https://www.geeksforgeeks.org/different-ways-to-create-pandas-dataframe/

In [1]:
import pandas as pd
data = {'text':['Egg Milk Nope', 'Bread Toast Yes Sugar', 'Egg Egg Yes']}
df = pd.DataFrame(data)

In [2]:
df

                    text
0          Egg Milk Nope
1  Bread Toast Yes Sugar
2            Egg Egg Yes

In [34]:
newdf = pd.DataFrame(df.text.str.split(' ').tolist()).stack().reset_index().rename(columns={0:'var1'})#.loc[:, df.columns]

In [36]:
newdf2 = newdf['var1']

In [37]:
newdf2

0      Egg
1     Milk
2     Nope
3    Bread
4    Toast
5      Yes
6    Sugar
7      Egg
8      Egg
9      Yes
Name: var1, dtype: object

In [39]:
tt = pd.DataFrame(newdf2, columns=['var1'])

In [40]:
tt

    var1
0    Egg
1   Milk
2   Nope
3  Bread
4  Toast
5    Yes
6  Sugar
7    Egg
8    Egg
9    Yes

In [42]:
tt.drop_duplicates()

    var1
0    Egg
1   Milk
2   Nope
3  Bread
4  Toast
5    Yes
6  Sugar

# Filter/Conditions/Select

https://stackoverflow.com/questions/17071871/how-to-select-rows-from-a-dataframe-based-on-column-values

In [ ]:
# find tweets with skin tone
tweets[tweets['emojicode'].str.contains('1f3fb', na=False)].head

In [ ]:
# find tweets without skin tone modifiers
tweets[tweets['emojicode'].str.contains('1f3fb|1f3fc|1f3fd|1f3fe|1f3ff')==False]

In [ ]:
# find tweets contain single emoji
random[random['emojicode'].str.len() <= 5]

In [ ]:
df.sort_values('column-name', ascending=False)

In [ ]:
df[(df['col1'].str.contains('-')) or (df['col2'].str.contains('-'))]

In [ ]:
df1['col-name'].str.contains("apple", na=False, case=False)

In [ ]:
# count unique rows
len(df[['ColA', 'ColB']].drop_duplicates()) # twice as fast then one below
len(df.groupby(['ColA', 'ColB']))

In [ ]:
df[df['col1'].isin(['val1', 'val2', 'val3'])]

# Join
Merge, Join, Concat https://realpython.com/pandas-merge-join-and-concat/

In [ ]:
pd.merge(df1, df2, how="outer", on=["col1", "col2"])
pd.merge(df1, df2, left_on=df1["col1"].str.lower(), right_on=df2["col2"].str.lower(), how="left")
df1.merge(df2, left_on="colA", right_on="colB", how="left")

### Check whether the an emoji exists in the DF column

In [26]:
merged_df[merged_df.skin_tone_emoji=='1f44f-1f3fc'].name.tolist()

['clapping hands']

In [27]:
merged_df[merged_df.skin_tone_emoji=='1f44f-1f'].name.tolist()
# this will throw an error
# merged_df[merged_df.skin_tone_emoji=='1f44f-1f3fc'].name.item()

[]

In [29]:
'1f44f-1f3fc' in merged_df.skin_tone_emoji.values

True

In [30]:
'1f44f-1f' in merged_df.skin_tone_emoji.values

False

In [33]:
any(merged_df.skin_tone_emoji == '1f44f-1f3fc')

True

In [34]:
any(merged_df.skin_tone_emoji == '1f44f-1f')

False

In [ ]:
merged_df.base_emoji=='1f44f'